a[href^=tel] { 
	color: inherit !important;
	text-decoration: none !important;
}

div, body {
	margin: 0;
	font-family: 'Arial', 'Helvetica', 'sans-serif';
  	color: #FFFFFF;
}

/*body {
  	background-image: linear-gradient( to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9) ), url("../images/background_image_mobile.png");
	background-color: #4a4a4a;
	background-repeat: no-repeat;
  	background-size: cover;
  	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  	background-attachment: fixed;
} */

.background_image {
	width: auto;
  	max-width: 100%;
  	height: auto;
}

#footer {
	background-color: #003D66;
	bottom: 0;
	display: block;
	width: 100%;
	position: absolute;
}

.information-container {
   position: relative;
   width: 100%;
   margin-bottom: 30px;
}

.information {
  text-align: center;
}

#logo {
  padding-top: 30px;
  padding-bottom: 30px;
}

#logo img {
	width: 50%;
}

#subtext {
  display: inline-block;
  text-align: left;
}

.line {
  border: 1px solid #FFFFFF;
}

.title {
	padding-top: 16px;
	padding-bottom: 14px;
	font-size: 24px;
	letter-spacing: 0.03px;
	font-family: 'Lora-Regular', serif;
}

.subtitle {
	font-size: 12px;
	letter-spacing: 0.02px;
	line-height: 20px;
}

#contact {
	padding-top: 30px;
	display: inline-block;
	text-align: left;
}

.info-section {
	padding-bottom: 20px;
}

.icon {
	width: 8pt;
	height: 8pt;
	padding-right: 14px;
	display: inline-block;
	vertical-align: top;
}

.info-text {
	font-size: 12px;
	color: #FFFFFF;
	letter-spacing: 0.03px;
	line-height: 8px;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
}

@media screen and (min-height:700px) {
  .information-container {
  	margin-bottom: 80px;
  }
}

@media screen and (min-height:895px) {
  .information-container {
  	margin-bottom: 95px;
  }
}

